<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573845376753-hqph4aslphigtqmre4s1v6rg5agc5at4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573845376753-hqph4aslphigtqmre4s1v6rg5agc5at4</string>
	<key>API_KEY</key>
	<string>AIzaSyDImK13apXu6V9KwK8L9XLqquf7H-7aztk</string>
	<key>GCM_SENDER_ID</key>
	<string>573845376753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alesha.kyc</string>
	<key>PROJECT_ID</key>
	<string>porichoi-5e0cb</string>
	<key>STORAGE_BUCKET</key>
	<string>porichoi-5e0cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573845376753:ios:55fb3a530eabd96df0a350</string>
</dict>
</plist>